<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.dao.UserMapper">
  <select id="findAll" resultType="com.lm.model.User"  parameterType="java.lang.String">
    select id, username,password,email from t_user
  </select>
  <select id="selectPageList" parameterType="java.util.Map" resultType="com.lm.model.User" >
    select id, username,password,email from t_user order by id limit #{page.start},#{page.row}
  </select>
  <select id="selectPageListCount" parameterType="java.util.Map" resultType="int" >
   select count(1) from t_user
  </select>
</mapper>